@model AzureImageGallery.Models.GalleryDetailModel

@{
    ViewData["Title"] = "Detail";
}


<div class="container body-content">
    <div class="row image-detail-container">
        <div class="image-detail">
            <img src="@Model.Url" alt="@Model.Title" />
        </div>

        <div class="row image-detail-meta">
            <span>Title: @Model.Title</span>
            <span>Uploaded: @Model.Created</span>
        </div>

        <div class="row controls">
            <span>
                <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index">Back to the Gallery</a>
            </span>
            <span>
                <a class="btn btn-danger" asp-controller="Gallery" asp-action="Delete" asp-route-id=@Model.Id>Delete this Image</a>
            </span>
            <span>
                <a class="btn btn-default" asp-controller="Gallery" asp-action="Edit" asp-route-id=@Model.Id>Edit the title of the Image</a>
            </span>
        </div>
    </div>
</div>
@*<h2>Detail</h2>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>*@
