@model SimpleImageGallery.Models.GalleryDetailModel

@{
    ViewData["Title"] = "Detail";
}


<div class="container body-content">
    <div class="row image-detail-container">
        <div class="image-detail">
            <img src="@Model.Url" alt="@Model.Title" />
        </div>

        <div class="row image-detail-meta">
            <span>Title: @Model.Title</span>
            <span>Uploaded: @Model.Created</span>
        </div>

        <div class="row controls">
            <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index">Back to the Gallery</a>
            <a class="btn btn-danger" asp-controller="Gallery" asp-action="Delete">Delete This Image</a>
            <a class="btn btn-default" asp-controller="Gallery" asp-action="Edit">Edit Title of the Image</a>
        </div>
    </div>
</div>


@*<h2>Detail</h2>

<div>
    <h4>GalleryDetailModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>*@
